/******************************************************************
 * DESCRIPTION:
 *
 *                             ----
 * @author: Eric J. Hachuel
 * University of Southern California, High-Performance Computing
 ******************************************************************/

/*GENERAL STYLING FOR HEADER AND FOOTER*/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.centering_div{
    display:table;
}

.centered_div{
    height:100%;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.center{
    padding: 5px 0;
}

/*Used for SUBMIT/RESULT GLYPHICONS button, i.e*/
.hidden{
    display: none;
}

/* Use to activate a question card */
.active{
    display:block!important;
}

/* Use to not display item */
.no_display{
    visibility: collapse;
}


/**************HEADER STYLES (IN ORDER OF APPEARANCE)**************/

.header_main{
    /* header with color from main HPC web */
/*    background:#990000;*/
    background: #e53935;
    height: 150px;
    text-align: center;
    width: 100%;
}

.assessment_title_main{
/*
    background: #757F9A;
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);
    background: linear-gradient(to right, #D7DDE8, #757F9A);
*/

    background: #9e9e9e;
    height: 55px;
    text-align: center;
    width: 100%;
    color: white;
    font-family: 'Trebuchet MS';
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}

#header_row_div{
    width: 100%;
    margin: 0 auto;
}


#page_title_icon_img{
    max-height: 65px;

}

#page_title_txt_left_div{
    text-align: left;
}

#page_title_txt{
    font-size: 25px;
    color: white;
    font-family: 'Trebuchet MS';
}

#page_logo_right_div{
    text-align: right;
}

#page_header_logo{
    max-height: 65px;
}


/**************FOOTER STYLES (IN ORDER OF APPEARANCE)**************/
.footer {
    height: 75px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

#footer_row{
    margin-top: 20px;
}


.footer_adjust_rel{
    position: relative;

}

.footer_adjust_abs{
    position: absolute;
}



#user_id_button{
    margin-left: 20px;
    margin-top: 10px;
}

#help_button{
    margin-right: 20px;
    margin-top: 10px;
}

#completed_course{
    max-width: inherit;
}


/**************CONTENT (QUIZZ SELECTION SITE)**************/
#assessment_selection_div{
    max-width: 1000px;

    text-align: center;
}

#dash_compl_ip_row_div{
    max-width: 100%;
}


#assessment_select_contents_title{

}



.dashboard_element_card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 400px;
    height: 300px;
    margin: auto;
}


.dash_card_title_div{
    padding-top: 5px;
    background-color: #efefef;
}


#available_quizzes_list{
    margin: auto;
    max-width: 250px;
}

#completed_quizzes_list{
    margin: auto;
    text-align: left;
    max-width: 345px;
}


.zero_total_txt{
    font-family: futura;
    font-size: 100px;
    color: dimgray;
}


#compl_quizzes_tbl{
    font-size: 12px;
}

#compl_quizz_dash_score_low{
    text-align: center;
    color: #d9534f;

}

#compl_quizz_dash_score_high{
    text-align: center;
    color: #5cb85c;

}

#view_compl_quizzes_button{
    margin-bottom: 10px;
}



/**************CONTENT (QUIZZ SITE)**************/


.question_card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-top: 20px;
    max-height: 100%;
}


#quizz_statistics_card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    max-height: 100%;
    max-width: 700px;
}


.quizz_question_div{
    max-width: 700px;

}


.question_item_div{
    margin-top: 2px;
    min-height: 40px;
    border-radius: 10px;
}


.question_label{
    font-size: 15px;
    vertical-align: middle;
    margin-left: 10px;
    padding-left: 40px!important;
}


.solution_glyphicon_correct{
    color: #5cb85c;
}

.solution_glyphicon_incorrect{
    color: #d9534f;
}

.solution_glyphicon_correct_not_selected{
    color: #FFA500;
}


.view_answers_btn_div{
    text-align: center;
}


.bottom_button_set{
    width: 100%;
    text-align: center;
    margin: auto;
}

.previous_question_btn_div{
    text-align: left;

}


.next_question_btn_div{
    text-align:right;
}


.choice_mark{
    position: absolute;
    font-size: 20px;
    transition-duration: 2s;
}



#quizz_statistics_page_header{
    text-align: center;

}

#end_of_quizz_navigation{
    width: 100%;
    text-align: center;
}

#previous_question_btn_end_quizz{
    text-align: left;
}


#back_home_btn{
    float: left;
    margin-bottom: 15px;

}

#final_score_percent{
    font-family: futura;
    font-size: 60px;
    text-align: center;
}

#final_score_txt{
    text-align: center;
    font-size: 20px;
    color: #6c757d;
}


#num_correct_div{
    font-family: futura;
    font-size: 40px;
    text-align: center;
    color: #5cb85c;
}

#num_correct_txt{
    text-align: center;
    font-size: 10px;
    color: #6c757d;
}

#num_incorrect_div{
    font-family: futura;
    font-size: 40px;
    text-align: center;
    color: #d9534f;
}

#num_incorrect_txt{
    text-align: center;
    font-size: 10px;
    color: #6c757d;
}

#quizz_results_summary_div{
    margin-bottom: 20px;
}

#retry_quizz_btn{
    float: right;
}

#end_of_quizz_nav_bar{
    margin-bottom: 20px;
}



/**************CONTENT (ADMIN SITE)**************/





/**************BOOTSTRAP MEDIA QUERIES**************/
/*Extra small devices (portrait phones, less than 576px)*/
/*// No media query since this is the default in Bootstrap*/
/*// Small devices (landscape phones, 576px and up)*/
@media screen and (max-width: 767px) {

    #page_header_logo{
        max-height: 45px;
    }

    #page_title_icon_img{
        max-height: 45px;
    }

    #page_title_txt{
        font-size: 15px;
    }

    #page_title_txt_left_div{
        text-align: inherit;
    }

    #page_logo_right_div{
        text-align: inherit;
    }

    #assessment_title_txt{
        font-size: 20px;
    }

}

/*// Medium devices (tablets, 768px and up)*/
@media screen and (max-width: 768px) {


}

/*// Large devices (desktops, 992px and up)*/
@media screen and (max-width: 992px) {


}

/*// Extra large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) { ... }*/



